{% extends "base.html" %}
{% load static %}
{% block title %}
  Teams
{% endblock title %}
{% block extendhead %}
  <link rel="preload"
        href="{% static 'teams/fonts/dm-mono-v14-latin-500.woff2' %}"
        as="font"
        type="font/woff2"
        crossorigin>
  <link rel="stylesheet" href="{% static 'teams/css/style.css' %}" />
  <script defer>
    (async () => {
      const response = await fetch("{% url 'teams:teams_chart' %}");
      const data = await response.json();
    
      const ctx = document.getElementById('chart');
      Chart.defaults.color = getComputedStyle(document.body).getPropertyValue('--copy');
      Chart.defaults.font.family = getComputedStyle(document.body).getPropertyValue('--text-font');
      Chart.defaults.font.size = 16;
      new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          maintainAspectRatio: false,
          scales: {
            y: { suggestedMin: 0 }
          }
        }
      });
    })();
  </script>
{% endblock extendhead %}
{% block header %}
  <h1>Teams</h1>
{% endblock header %}
{% block content %}
  <main>
    <section class="teams">
      {% for team in teams %}
        <a href="{{ team.get_absolute_url }}" class="card">
          <h2>{{ team.name }}</h2>
          <p class="points" style="color: {{ team.color }}">{{ team.points }}</p>
        </a>
      {% endfor %}
    </section>
    <section class="chart">
      <h2>Points Over Time</h2>
      <div>
        <canvas id="chart"></canvas>
      </div>
    </section>
  </main>
{% endblock content %}
