{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ team.name }} - Templeton Mini School
{% endblock %}

{% block extendhead %}
  <script defer type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'js/teams.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title is-1">{{ team.name }}</h1><br />
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="title">Students</div>
        <table class="table is-fullwidth is-hoverable is-striped is-bordered">
          <thead>
            <tr>
              <th>Student</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <th>{{ student.first_name }} {{ student.last_name }}</th>
                <td>{{ student.grade }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="column">
        <div class="title">Point History</div>
        <table class="table is-fullwidth is-hoverable is-striped is-bordered">
          <thead>
            <tr>
              <th>Event</th>
              <th>Points</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% if point_events %}
              {% for point_event in point_events %}
                <tr>
                  {% if point_event.description %}
                    <th>
                      <abbr title="{{ point_event.description }}">{{ point_event.name }}</abbr>
                    </th>
                  {% else %}
                    <th>{{ point_event.name }}</th>
                  {% endif %}
                  <td>{{ point_event.points }}</td>
                  <td>{{ point_event.created_at|date }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th colspan="3">No Points 😔</th>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
