{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ team.name }} - Teams
{% endblock title %}
{% block extendhead %}
  <link rel="preload"
        href="{% url 'teams:team_chart' team.id %}"
        as="fetch"
        type="application/json"
        crossorigin>
  <link rel="preload"
        href="{% static 'teams/fonts/dm-sans-v15-latin-700.woff2' %}"
        as="font"
        type="font/woff2"
        crossorigin>
  <link rel="stylesheet" href="{% static 'teams/css/team_detail.css' %}" />
  <script defer>
    (async () => {
      const response = await fetch("{% url 'teams:team_chart' team.id %}");
      const data = await response.json();
    
      const ctx = document.getElementById('chart');
      Chart.defaults.color = getComputedStyle(document.body).getPropertyValue('--copy');
      Chart.defaults.font.family = getComputedStyle(document.body).getPropertyValue('--text-font');
      Chart.defaults.font.size = 16;
      new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          maintainAspectRatio: false,
          scales: {
            y: { suggestedMin: 0 }
          }
        }
      });
    })();
  </script>
{% endblock extendhead %}
{% block header %}
  <h1>{{ team.name }}</h1>
{% endblock header %}
{% block content %}
  <main>
    <section class="tables">
      <div class="table">
        <h2>Students</h2>
        <table>
          <thead>
            <tr>
              <th>Student</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <th>{{ student.full_name }}</th>
                <td class="number">{{ student.grade }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="table">
        <h2>Point History</h2>
        <table>
          <thead>
            <tr>
              <th>Event</th>
              <th>Points</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% if point_events %}
              {% for point_event in point_events %}
                <tr>
                  <th>
                    {% if point_event.description %}
                      <div class="abbr" text="{{ point_event.description }}" tabindex="0">{{ point_event.name }}</div>
                    {% else %}
                      {{ point_event.name }}
                    {% endif %}
                  </th>
                  <td class="number">{{ point_event.points }}</td>
                  <td>{{ point_event.created_at|date }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th colspan="3">No Points 😔</th>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </section>
    <section class="chart">
      <h2>Points Over Time</h2>
      <div>
        <canvas id="chart"></canvas>
      </div>
    </section>
  </main>
{% endblock content %}
