{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Mini Teams" />
    <meta name="keywords" content="templaton mini school">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'teams/css/shared.css' %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'teams/icons/apple-touch-icon.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'teams/icons/favicon-32x32.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'teams/icons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'teams/site.webmanifest' %}" />
    <script defer type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    {% block extendhead %}
    {% endblock extendhead %}
  </head>
  <body>
    <header>
      {% block header %}
      {% endblock header %}
    </header>
    {% block content %}
    {% endblock content %}
  </body>
</html>
